@model TrashManagement.Models.Suspend

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Suspend</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuspendStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuspendStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuspendEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuspendEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
