@model TrashManagement.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<h1>My Account</h1>

<table class="tg">
    <tr>
        <th class="tg-0lax">Name:</th>
        <th class="tg-0lax">@Html.DisplayFor(model => model.Name)</th>

    </tr>
    <tr>
        <td class="tg-0lax">Pickup Day:</td>
        <td class="tg-0lax">@Html.DisplayFor(model => model.pickupDay)</td>

    </tr>
    <tr>
        <td class="tg-0lax">Street:</td>
        <td class="tg-0lax">@Html.DisplayFor(model => model.street)</td>

    </tr>
    <tr>
        <td class="tg-0lax">Zip:</td>
        <td class="tg-0lax">@Html.DisplayFor(model => model.zipCode)</td>

    </tr>
    <tr>
        <td class="tg-0lax">Suspend Start:</td>
        <td class="tg-0lax">@Html.DisplayFor(model => model.suspendStart)</td>

    </tr>
    <tr>
        <td class="tg-0lax">Suspend End:</td>
        <td class="tg-0lax">@Html.DisplayFor(model => model.suspendEnd)</td>

    </tr>

    <th class="tg-0lax"><a asp-action="Edit" asp-route-id="@Model.Id">Edit Details</a> </th>
</table>









    

